<main xmlns:th="http://www.thymeleaf.org">
    <div class="col-8 m-auto" th:object="${viewModel}">
        <h2>Service details:</h2>
        <table class="table">
            <tbody>
            <tr>
                <th>ID</th>
                <td th:text="*{id}"></td>
            </tr>
            <tr>
                <th>Service type</th>
                <td th:text="*{serviceType}"></td>
            </tr>
            <tr>
                <th>Location</th>
                <td th:text="*{location}"></td>
            </tr>
            <tr>
                <th>Username</th>
                <td th:text="*{username}"></td>
            </tr>
            <tr>
                <th>First name</th>
                <td th:text="*{firstName}"></td>
            </tr>
            <tr>
                <th>Last name</th>
                <td th:text="*{lastName}"></td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td th:text="*{phoneNumber}"></td>
            </tr>
            <tr>
                <th>Status</th>
                <td th:text="*{serviceStatus}"></td>
            </tr>
            <tr>
                <th>Slogan</th>
                <td th:text="*{slogan}"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td th:text="*{serviceDescription}"></td>
            </tr>
            </tbody>
        </table>



        <div class="d-flex">

            <th:block th:unless="${viewModel.serviceStatus == T(org.softuni.handy.domain.enums.ServiceStatus).APPROVED}">
                <form th:action="@{/service/edit-status/approved}" method="post">
                    <input type="hidden" th:field="*{id}" />
                    <button type="submit" class="btn btn-success">APPROVE</button>
                </form>
            </th:block>
            <th:block th:unless="${viewModel.serviceStatus == T(org.softuni.handy.domain.enums.ServiceStatus).REJECTED}">
                <form th:action="@{/service/edit-status/rejected}" method="post">
                    <input type="hidden" th:field="*{id}" />
                    <button type="submit" class="btn btn-danger">REJECT</button>
                </form>
            </th:block>
        </div>


    </div>
</main>
