<main id="admin-page">

    <div class="admin-wrapper">
        <div id="admin-sidebar">
            <div class="sidebar-header">
                <h3>Bootstrap Sidebar</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Dummy Heading</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <form class="sidebar-form mr-5">
                <h5>Services</h5>
                <div class="form-check"
                     th:each="status : ${T(org.softuni.handy.domain.enums.ServiceStatus).values()}">
                    <label>
                        <input type="checkbox" name="check" th:value="${status}">
                        <span class="check-label-text" th:text="${status}"></span>
                    </label>
                </div>
                <h5>Orders</h5>
                <div class="form-check"
                     th:each="status : ${T(org.softuni.handy.domain.enums.OrderStatus).values()}">
                    <label>
                        <input type="checkbox" name="check" th:value="${status}">
                        <span class="check-label-text" th:text="${status}"></span>
                    </label>
                </div>

                <h5>Users</h5>
                <!--<div class="form-check"-->
                     <!--th:each="city : ${T(org.softuni.handy.domain.enums.City).values()}">-->
                    <!--<label>-->
                        <!--<input type="checkbox" name="check" th:value="${city}">-->
                        <!--<span class="check-label-text" th:text="${city}"></span>-->
                    <!--</label>-->
                <!--</div>-->
            </form>
        </div>


        <!-- Page content -->
        <div class="admin-content">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
        </div>

        <div th:replace="${view}"></div>
    </div>
</main>

