<main xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <table class="table mt-3 mb-5 center-block w-75 mx-auto">
        <thead>
        <tr>
            <th scope="col" th:text="|id|"></th>
            <th scope="col" th:text="|Image|"></th>
            <th scope="col" th:text="|Name|"></th>
            <th scope="col" th:text="|Image url|"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="category : ${categories}" th:object="${category}">
            <tr >
                <td class="align-middle" scope="row" th:text="*{id}"></td>
                <td class="align-middle" scope="row">
                    <img th:src="@{${category.servicePicture}}" width="100"   alt="picture">
                </td>
                <td class="align-middle" th:text="*{serviceName}"></td>
                <td class="align-middle" >
                    <a  th:href="@{${category.servicePicture}}">
                        <span th:text="*{servicePicture}"></span>
                    </a>
                </td>

                <td class="align-middle">
                    <form  th:method="get" th:action="@{/location/delete}">
                        <input type="hidden" th:value="*{id}"/>
                        <button type="submit"
                                class="btn btn-danger btn-sm border-dark"
                                th:text="Delete">
                        </button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</main>