<main xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <table class="table mt-3 mb-5 center-block w-75 mx-auto">
        <thead>
        <tr>

            <th scope="col" th:text="|#|"></th>
            <th scope="col" th:text="|Username|"></th>
            <th scope="col" th:text="|First Name|"></th>
            <th scope="col" th:text="|Last Name|"></th>
            <th scope="col" th:text="|Service type|"></th>
            <th scope="col" th:text="|Location|"></th>
            <th scope="col" th:text="|Status|"></th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        <th:block th:each="service,iter : ${services}" th:object="${service}">
            <tr>
                <td class="align-middle" scope="row" th:text="${iter.index + 1}"></td>
                <td class="align-middle" th:text="*{username}"></td>
                <td class="align-middle" th:text="*{firstName}"></td>
                <td class="align-middle" th:text="*{lastName}"></td>
                <td class="align-middle" th:text="*{serviceType}"></td>
                <td class="align-middle" th:text="*{location}"></td>
                <td class="align-middle" th:text="*{serviceStatus}"></td>

                <td class="align-middle">
                    <form th:method="get" th:action="@{/service/details/{id}(id=*{id})}">
                        <button type="submit"
                                class="btn btn-light btn-sm border-dark"
                                th:text="Details">
                        </button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</main>