<main xmlns:th="http://www.thymeleaf.org">
    <div class="home-page-header">

    </div>

    <div class="d-flex justify-content-start align-content-start flex-wrap m-5">
        <div class="card m-3" style="width: 15em" th:each="offer: ${offers}" th:object="${offer}">
            <div class="card-body"  >
                <h4 class="card-title" th:text="*{price}"></h4>
                <p th:text="*{hours}"></p>
                <h5 th:text="*{professionalServiceFirstName}"></h5>
                <h5 th:text="*{professionalServiceLastName}"></h5>
                <p th:text="*{professionalServicePhoneNumber}"></p>

            </div>
            <div class="card-footer">
                <form th:method="post" th:action="@{/offer/accept}">
                   <input type="hidden" th:value="*{id}" name="offerId"/>
                   <input type="hidden" th:value="*{serviceOrder}" name="serviceOrder"/>
                   <input type="hidden" th:value="*{professionalService}" name="professionalService"/>
                    <input type="submit" class="btn-lg btn-success" value="Accept"/>
                </form>

            </div>
        </div>
    </div>



</main>

