<main xmlns:th="http://www.thymeleaf.org" class="mt-5">

    <div class="row " th:object="${viewModel}">
        <div class="col-6 m-auto">
            <h2>Order details:</h2>
            <table class="table">
                <tbody>
                <tr>
                    <th>Service type</th>
                    <td th:text="*{serviceType.serviceName}"></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td th:text="*{orderStatus}"></td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td th:text="*{location.town}"></td>
                </tr>
                <tr>
                    <th>First name</th>
                    <td th:text="*{firstName}"></td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td th:text="*{lastName}"></td>
                </tr>
                <tr>
                    <th>Phone number</th>
                    <td th:text="*{phoneNumber}"></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td th:text="*{address}"></td>
                </tr>
                <tr>
                    <th>Scheduled date</th>
                    <td th:text="*{scheduledDate}"></td>
                </tr>
                <tr>
                    <th>Problem description</th>
                    <td th:text="*{problemDescription}"></td>
                </tr>
                </tbody>
            </table>
            <form th:if="${viewModel.orderStatus == T(org.softuni.handy.domain.enums.OrderStatus).ACCEPTED}"
                  th:action="@{/order/complete/{id}(id=*{id})}"
                  th:method="post">
                <!--<input type="hidden" th:value="*{id}" name="orderId"/>-->
                <div class="text-center">
                    <input class="btn btn-lg btn-primary" value="Complete" type="submit">
                </div>

            </form>
        </div>
        <div class="col-md-2 m-auto">
            <form th:if="${viewModel.orderStatus == T(org.softuni.handy.domain.enums.OrderStatus).PENDING}"
                  th:action="@{/offer/create}"
                  th:method="post">
                <div class="form-group">
                    <input type="hidden" th:value="*{id}" name="serviceOrder">
                    <input class="form-control input-lg"
                           placeholder="Hours to done"
                           name="hours"
                           type="number">
                </div>

                <div class="form-group">
                    <input class="form-control input-lg"
                           placeholder="Price"
                           name="price"
                           type="number">
                </div>

                <input class="btn btn-lg btn-primary btn-block" value="Submit" type="submit">
            </form>
        </div>
    </div>


</main>

