<main class="m-3" xmlns:th="http://www.thymeleaf.org">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <header class="card-header">
                    <h3 class="text-center mb-4">Add new location</h3>
                </header>
                <article class="card-body" th:object="${model}">
                    <form th:action="@{/location/create}" th:method="post"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <input class="form-control input-lg"
                                   placeholder="Town"
                                   name="town"
                                   type="text"
                                   required>
                            <p class="text-danger" th:if="${#fields.hasErrors('town')}"
                               th:errors="*{town}"></p>
                        </div>

                        <div class="form-group" th:with="locationsCount=${locations.size()}" >
                            <label th:for="priority">Select priority</label>
                            <select class="form-control input-lg"  th:field="*{priority}" >
                                <option th:value="${locationsCount + 1}" selected>Last</option>
                                <option th:each="number: ${#numbers.sequence(1,locationsCount)}"
                                        th:value="${number}"
                                        th:text="${number}">

                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="add-product-image" class="font-weight-bold">Location Picture</label>
                            <input type="file" class="form-control-file" id="add-product-image"
                                   name="imageUrl">
                            <!--<p class="text-danger" th:if="${#fields.hasErrors('imageUrl')}"-->
                               <!--th:errors="*{imageUrl}"></p>-->
                        </div>

                        <input class="btn btn-lg btn-primary btn-block" value="Submit" type="submit">
                    </form>
                </article>

            </div>
        </div>
    </div>
</main>

