<main class="m-3" xmlns:th="http://www.thymeleaf.org">
    <div class="row justify-content-center">
        <div class="col-md-8 justify-content-start">
            <div class="card" th:object="${model}">
                <header class="card-header">
                    <h3 class="text-center mb-4">Register service</h3>
                </header>
                <article class="card-body">
                    <form  th:action="@{/service/create}" th:method="post">
                        <div class="row">
                            <div class="form-group col-12 col-md-4">
                                <input class="form-control form-control-lg"
                                       placeholder="First name"
                                       th:field="*{firstName}"
                                       type="text">
                            </div>
                            <div class="form-group col-12 col-md-4">
                                <input class="form-control form-control-lg"
                                       placeholder="Last name"
                                       th:field="*{lastName}"
                                       type="text">
                            </div>
                            <div class="form-group col-12 col-md-4">
                                <input class="form-control form-control-lg"
                                       placeholder="Phone number"
                                       th:field="*{phoneNumber}"
                                       type="tel">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group green-margin col-12 col-md-6">
                                <select class="form-control form-control-lg" name="locationId">
                                    <option value="" disabled selected >Location</option>
                                    <option th:each="location : ${locations}"
                                            th:value="${location.id}"
                                            th:text="${location.town}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group green-margin col-12 col-md-6">
                                <select class="form-control form-control-lg"  name="serviceTypeId">
                                    <option value="" disabled selected>Service type</option>
                                    <option th:each="type : ${serviceTypes}"
                                            th:value="${type.id}"
                                            th:text="${type.serviceName}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control form-control-lg"
                                      placeholder="Describe yourself here..."
                                      th:field="*{slogan}"
                                      rows="2">

                            </textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control form-control-lg"
                                      placeholder="Describe your service"
                                      th:field="*{serviceDescription}"
                                      rows="5">

                            </textarea>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label for="upload-picture">Изберете снимка</label>-->
                            <!--<input type="file" class="form-control-file form-control-lg" id="upload-picture">-->
                        <!--</div>-->
                        <!--<div class="col-lg-6 col-sm-6 col-12">-->
                            <!--<h4>Standard Button</h4>-->
                            <!--<label class="btn btn-primary">-->
                                <!--Browse&hellip; <input type="file" style="display: none;">-->
                            <!--</label>-->
                        <!--</div>-->
                        <input class="btn btn-lg btn-primary btn-block form-control-lg"
                               value="Get Started" type="submit">
                    </form>
                </article>
                <div class="border-top card-body text-center">Already applied? <a href="/login">Check your application
                    status here.</a></div>
            </div>
        </div>

    </div>


</main>

